In [4]:
import pandas as pd
moviebudgets = pd.read_csv('tn.movie_budgets.csv.gz')

In [6]:
moviebudgets.head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
26,27,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897"
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812"
28,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"
30,31,"Jul 3, 2012",The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267"
31,32,"May 18, 2012",Battleship,"$220,000,000","$65,233,400","$313,477,717"
32,33,"Jun 21, 2017",Transformers: The Last Knight,"$217,000,000","$130,168,683","$602,893,340"
33,34,"Jun 12, 2015",Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864"
34,35,"May 25, 2012",Men in Black 3,"$215,000,000","$179,020,854","$654,213,485"
35,36,"Jun 24, 2009",Transformers: Revenge of the Fallen,"$210,000,000","$402,111,870","$836,519,699"
36,37,"Jun 27, 2014",Transformers: Age of Extinction,"$210,000,000","$245,439,076","$1,104,039,076"
37,38,"May 26, 2006",X-Men: The Last Stand,"$210,000,000","$234,362,462","$459,260,946"
38,39,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006"
39,40,"Dec 14, 2005",King Kong,"$207,000,000","$218,080,025","$550,517,357"
40,41,"Dec 7, 2007",The Golden Compass,"$205,000,000","$70,107,728","$367,262,558"
41,42,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224"
42,43,"Dec 19, 1997",Titanic,"$200,000,000","$659,363,944","$2,208,208,395"
43,44,"Jun 15, 2018",Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711"
44,45,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856"
45,46,"Jun 17, 2016",Finding Dory,"$200,000,000","$486,295,561","$1,021,215,193"
46,47,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522"
47,48,"May 3, 2013",Iron Man 3,"$200,000,000","$408,992,272","$1,215,392,272"
48,49,"May 5, 2017",Guardians of the Galaxy Vol 2,"$200,000,000","$389,813,101","$862,316,233"
49,50,"Jun 30, 2004",Spider-Man 2,"$200,000,000","$373,524,485","$795,110,670"